In [2]:
#loading libraries and setting plt to inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
ititle_basics_df = pd.read_csv('data/zippedData/imdb.title.basics.csv.gz')
ititle_basics_df.head(1)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"