In [1]:
#loading libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import cpi


# setting plt to inline
%matplotlib inline

# updating cpi if flagged out of date
# cpi.update()

In [2]:
# importing sqlite3
import sqlite3

# conneting to db and creating cursor
conn = sqlite3.Connection('data/movies.db')
cur = conn.cursor()

# creating query functions
def fetcha(q):
    return cur.execute(q).fetchall()
def fetcho(q):
    return cur.execute(q).fetchone()

In [3]:
# getting table names
q = """SELECT name FROM sqlite_master 
WHERE type IN ('table','view') 
AND name NOT LIKE 'sqlite_%'
ORDER BY 1"""
fetcha(q)

[('bom_movie_gross',),
 ('imdb_name_basic',),
 ('imdb_name_basics',),
 ('imdb_title_akas',),
 ('imdb_title_basics',),
 ('imdb_title_crew',),
 ('imdb_title_principals',),
 ('imdb_title_ratings',),
 ('rotten_tomatoes_critic_reviews',),
 ('rotten_tomatoes_movies',),
 ('tmdb_movies',),
 ('tn_movie_budgets',)]

In [4]:
q = "PRAGMA table_info('imdb_title_principals')"
fetcha(q)

[(0, 'idx', 'INTEGER', 0, None, 1),
 (1, 'tconst', 'TEXT', 0, None, 0),
 (2, 'ordering', 'INTEGER', 0, None, 0),
 (3, 'nconst', 'TEXT', 0, None, 0),
 (4, 'category', 'TEXT', 0, None, 0),
 (5, 'job', 'TEXT', 0, None, 0),
 (6, 'characters', 'TEXT', 0, None, 0)]

In [5]:
q = "PRAGMA table_info('imdb_name_basics')"
fetcha(q)

[(0, 'idx', 'INTEGER', 0, None, 0),
 (1, 'nconst', 'TEXT', 0, None, 0),
 (2, 'primary_name', 'TEXT', 0, None, 0),
 (3, 'birth_year', 'REAL', 0, None, 0),
 (4, 'death_year', 'REAL', 0, None, 0),
 (5, 'primary_profession', 'TEXT', 0, None, 0),
 (6, 'known_for_titles', 'TEXT', 0, None, 0)]

In [6]:
q = "PRAGMA table_info('imdb_title_basics')"
fetcha(q)

[(0, 'idx', 'INTEGER', 0, None, 1),
 (1, 'tconst', 'TEXT', 0, None, 0),
 (2, 'primary_title', 'TEXT', 0, None, 0),
 (3, 'original_title', 'TEXT', 0, None, 0),
 (4, 'start_year', 'INTEGER', 0, None, 0),
 (5, 'runtime_minutes', 'REAL', 0, None, 0),
 (6, 'genres', 'TEXT', 0, None, 0)]

In [7]:
# getting column names
q = "PRAGMA table_info('tn_movie_budgets')"
fetcha(q)

[(0, 'idx', 'INTEGER', 0, None, 1),
 (1, 'id', 'INTEGER', 0, None, 0),
 (2, 'release_date', 'TEXT', 0, None, 0),
 (3, 'movie', 'TEXT', 0, None, 0),
 (4, 'production_budget', 'TEXT', 0, None, 0),
 (5, 'domestic_gross', 'TEXT', 0, None, 0),
 (6, 'worldwide_gross', 'TEXT', 0, None, 0)]

In [8]:
# creating initial dataframe by joining the four tables and printing first row
q = """SELECT*FROM imdb_name_basics
       JOIN imdb_title_principals 
       USING(nconst)
       JOIN imdb_title_basics AS ib
       USING(tconst)
       JOIN tn_movie_budgets AS tn
       ON ib.primary_title = tn.movie
       
       """
df = pd.DataFrame(fetcha(q))
df.columns = [i[0] for i in cur.description]
df.head(1)

,idx,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles,idx,tconst,ordering,...,start_year,runtime_minutes,genres,idx,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553",466550,tt2398241,9,...,2017,90.0,"Adventure,Animation,Comedy",904,5,"Apr 7, 2017",Smurfs: The Lost Village,"$60,000,000","$45,020,282","$197,578,586"

In [9]:
df.columns

Index(['idx', 'nconst', 'primary_name', 'birth_year', 'death_year',
       'primary_profession', 'known_for_titles', 'idx', 'tconst', 'ordering',
       'category', 'job', 'characters', 'idx', 'primary_title',
       'original_title', 'start_year', 'runtime_minutes', 'genres', 'idx',
       'id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')

In [10]:
# checking dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32406 entries, 0 to 32405
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   idx                 32406 non-null  int64
 1   nconst              32406 non-null  object
 2   primary_name        32406 non-null  object
 3   birth_year          14742 non-null  float64
 4   death_year          591 non-null    float64
 5   primary_profession  31872 non-null  object
 6   known_for_titles    32012 non-null  object
 7   idx                 32406 non-null  int64
 8   tconst              32406 non-null  object
 9   ordering            32406 non-null  int64
 10  category            32406 non-null  object
 11  job                 9556 non-null   object
 12  characters          13012 non-null  object
 13  idx                 32406 non-null  int64
 14  primary_title       32406 non-null  object
 15  original_title      32406 non-null  object
 16  start_year          32406 non-null  int64
 17  runtime_minutes     29207 non-null  float64
 18  genres              32146 non-null  object
 19  idx                 32406 non-null  int64
 20  id                  32406 non-null  int64
 21  release_date        32406 non-null  object
 22  movie               32406 non-null  object
 23  production_budget   32406 non-null  object
 24  domestic_gross      32406 non-null  object
 25  worldwide_gross     32406 non-null  object
dtypes: float64(3), int64(7), object(16)
memory usage: 6.4+ MB

In [11]:
# dropping extraneous columns
df = df.drop(['idx', 'birth_year', 'death_year', 'primary_profession',\
              'primary_title', 'original_title', 'id',\
              'known_for_titles', 'ordering',\
              'job', 'characters', 'start_year','runtime_minutes'], axis=1)
df = df.rename(columns = {'movie':'title', 'release_date':'date'})
df.head(1)

,nconst,primary_name,tconst,category,genres,date,title,production_budget,domestic_gross,worldwide_gross
0,nm0061671,Mary Ellen Bauder,tt2398241,producer,"Adventure,Animation,Comedy","Apr 7, 2017",Smurfs: The Lost Village,"$60,000,000","$45,020,282","$197,578,586"

In [12]:
# checking numbers of NaNs
df.isna().sum()

nconst                 0
primary_name           0
tconst                 0
category               0
genres               260
date                   0
title                  0
production_budget      0
domestic_gross         0
worldwide_gross        0
dtype: int64

In [13]:
#cleaning numerical strings and converting to floats
df['worldwide_gross'] = df['worldwide_gross']\
                                           .apply(lambda x: x.strip("$")\
                                           .replace(',', '')).astype('float')
df['domestic_gross'] = df['domestic_gross']\
                                           .apply(lambda x: x.strip("$")\
                                           .replace(',', '')).astype('float')
df['production_budget'] = df['production_budget']\
                                             .apply(lambda x: x.strip("$")\
                                             .replace(',', '')).astype('float')

In [14]:
# change date string to datetime object 
df.date = pd.to_datetime(df.date)
df['year'] = df['date'].apply(lambda x: x.year)
df['month'] = df['date'].apply(lambda x: x.month)

In [15]:
df['international_gross'] = df['worldwide_gross'].sub(df['domestic_gross'])
df.head(1)

,nconst,primary_name,tconst,category,genres,date,title,production_budget,domestic_gross,worldwide_gross,year,month,international_gross
0,nm0061671,Mary Ellen Bauder,tt2398241,producer,"Adventure,Animation,Comedy",2017-04-07,Smurfs: The Lost Village,60000000.0,45020282.0,197578586.0,2017,4,152558304.0

In [16]:
df.head()

,nconst,primary_name,tconst,category,genres,date,title,production_budget,domestic_gross,worldwide_gross,year,month,international_gross
0,nm0061671,Mary Ellen Bauder,tt2398241,producer,"Adventure,Animation,Comedy",2017-04-07,Smurfs: The Lost Village,60000000.0,45020282.0,197578586.0,2017,4,152558304.0
1,nm0063618,Jeff Beal,tt1147681,composer,"Drama,Mystery",2012-12-31,After,650000.0,0.0,0.0,2012,12,0.0
2,nm0070822,Terry Benedict,tt2119532,producer,"Biography,Drama,History",2016-11-04,Hacksaw Ridge,40000000.0,67209615.0,168904682.0,2016,11,101695067.0
3,nm0083851,Sam Bisbee,tt1990314,producer,"Comedy,Crime,Drama",2012-08-17,Robot & Frank,2500000.0,3317468.0,4934356.0,2012,8,1616888.0
4,nm0083851,Sam Bisbee,tt3813310,producer,"Crime,Thriller",2015-08-07,Cop Car,5000000.0,134552.0,143658.0,2015,8,9106.0

In [17]:
# defing function to adjust for inflation because the year/
# 2020 throws errors when applying cpi.inflate

def adjust_for_inf(row, name):
    if row.year != 2020:
        value = cpi.inflate(row[name], row.year)
    else:
        value = row[name]
    return value

In [18]:
#adding adjusted budget and gross profit columns
df['adj_prod_budg'] = df.apply(lambda x: adjust_for_inf(x, 'production_budget'), axis=1)
df['adj_dom_gross'] = df.apply(lambda x: adjust_for_inf(x, 'domestic_gross'), axis=1)
df['adj_ww_gross'] = df.apply(lambda x: adjust_for_inf(x, 'worldwide_gross'), axis=1)
df['adj_i_gross'] = df.apply(lambda x: adjust_for_inf(x, 'international_gross'), axis=1)

df.head(1)

,nconst,primary_name,tconst,category,genres,date,title,production_budget,domestic_gross,worldwide_gross,year,month,international_gross,adj_prod_budg,adj_dom_gross,adj_ww_gross,adj_i_gross
0,nm0061671,Mary Ellen Bauder,tt2398241,producer,"Adventure,Animation,Comedy",2017-04-07,Smurfs: The Lost Village,60000000.0,45020282.0,197578586.0,2017,4,152558304.0,6.257923e+07,4.695557e+07,2.060719e+08,1.591163e+08

In [19]:
#adding net profit columns
df['adj_dom_net'] = df['adj_dom_gross'].sub(df['adj_prod_budg'])
df['adj_ww_net'] = df['adj_ww_gross'].sub(df['adj_prod_budg'])
df['adj_i_net'] = df['adj_i_gross'].sub(df['adj_prod_budg'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32406 entries, 0 to 32405
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   nconst               32406 non-null  object
 1   primary_name         32406 non-null  object
 2   tconst               32406 non-null  object
 3   category             32406 non-null  object
 4   genres               32146 non-null  object
 5   date                 32406 non-null  datetime64[ns]
 6   title                32406 non-null  object
 7   production_budget    32406 non-null  float64
 8   domestic_gross       32406 non-null  float64
 9   worldwide_gross      32406 non-null  float64
 10  year                 32406 non-null  int64
 11  month                32406 non-null  int64
 12  international_gross  32406 non-null  float64
 13  adj_prod_budg        32406 non-null  float64
 14  adj_dom_gross        32406 non-null  float64
 15  adj_ww_gross         32406 non-null  float64
 16  adj_i_gross          32406 non-null  float64
 17  adj_dom_net          32406 non-null  float64
 18  adj_ww_net           32406 non-null  float64
 19  adj_i_net            32406 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(2), object(6)
memory usage: 4.9+ MB

In [20]:
#adding return on investment columns and checking results
df['adj_dom_roi'] = df['adj_dom_net'].divide(df['adj_prod_budg'])
df['adj_ww_roi'] = df['adj_ww_net'].divide(df['adj_prod_budg'])
df['adj_i_roi'] = df['adj_i_net'].divide(df['adj_prod_budg'])
df.head(1)

,nconst,primary_name,tconst,category,genres,date,title,production_budget,domestic_gross,worldwide_gross,...,adj_prod_budg,adj_dom_gross,adj_ww_gross,adj_i_gross,adj_dom_net,adj_ww_net,adj_i_net,adj_dom_roi,adj_ww_roi,adj_i_roi
0,nm0061671,Mary Ellen Bauder,tt2398241,producer,"Adventure,Animation,Comedy",2017-04-07,Smurfs: The Lost Village,60000000.0,45020282.0,197578586.0,...,6.257923e+07,4.695557e+07,2.060719e+08,1.591163e+08,-1.562365e+07,1.434927e+08,9.653712e+07,-0.249662,2.292976,1.542638

In [21]:
title_gross = df[['title', 'adj_ww_gross', 'date']]
unique_titles = title_gross.drop_duplicates(subset = ['title'])
top20_grossing_films = unique_titles.sort_values(by='adj_ww_gross', ascending=False).head(20)
top20_grossing_films

                                 title  adj_ww_gross       date
6985                             Bambi  4.203440e+09 1942-08-13
4866                           Titanic  3.517408e+09 1997-12-19
16889                           Avatar  3.308483e+09 2009-12-18
2320   Snow White and the Seven Dwarfs  3.283159e+09 1937-12-21
485             Avengers: Infinity War  2.085246e+09 2018-04-27
258                     Jurassic World  1.778528e+09 2015-06-12
575                      The Lion King  1.701301e+09 1994-06-15
1020                      The Avengers  1.690249e+09 2012-05-04
447                          Furious 7  1.638161e+09 2015-04-03
12913                         Fantasia  1.521524e+09 1940-11-13
4106           Avengers: Age of Ultron  1.513353e+09 2015-05-01
759                             Frozen  1.396463e+09 2013-11-22
4103                     Black Panther  1.372688e+09 2018-02-16
3293                        Iron Man 3  1.333824e+09 2013-05-03
259     Jurassic World: Fallen Kingdom  1.329433e+09 2018-06-22
206               Beauty and the Beast  1.313329e+09 2017-03-17
448            The Fate of the Furious  1.287929e+09 2017-04-14
3308    Transformers: Dark of the Moon  1.277257e+09 2011-06-29
505                      Incredibles 2  1.265035e+09 2018-06-15
951                        Toy Story 3  1.253194e+09 2010-06-18

In [22]:
title_net = df[['title','adj_prod_budg', 'adj_ww_gross', 'adj_ww_net' ,'date']]
unique_titles = title_net.groupby('title').first().reset_index()
top20_net_films = unique_titles.sort_values(by='adj_ww_net', ascending=False).head(20)
top20_net_films

,title,adj_prod_budg,adj_ww_gross,adj_ww_net,date
195,Bambi,1.345728e+07,4.203440e+09,4.189983e+09,1942-08-13
1518,Snow White and the Seven Dwarfs,2.641789e+07,3.283159e+09,3.256741e+09,1937-12-21
2109,Titanic,3.185757e+08,3.517408e+09,3.198832e+09,1997-12-19
176,Avatar,5.064591e+08,3.308483e+09,2.802024e+09,2009-12-18
178,Avengers: Infinity War,3.054359e+08,2.085246e+09,1.779810e+09,2018-04-27
1889,The Lion King,1.367989e+08,1.701301e+09,1.564502e+09,1994-06-15
932,Jurassic World,2.319085e+08,1.778528e+09,1.546619e+09,2015-06-12
600,Fantasia,4.163557e+07,1.521524e+09,1.479889e+09,1940-11-13
1651,The Avengers,2.505415e+08,1.690249e+09,1.439707e+09,2012-05-04
674,Furious 7,2.049424e+08,1.638161e+09,1.433219e+09,2015-04-03
669,Frozen,1.646164e+08,1.396463e+09,1.231847e+09,2013-11-22
1112,Minions,7.981967e+07,1.251590e+09,1.171770e+09,2015-07-10
259,Black Panther,2.036240e+08,1.372688e+09,1.169064e+09,2018-02-16
177,Avengers: Age of Ultron,3.565998e+08,1.513353e+09,1.156753e+09,2015-05-01
933,Jurassic World: Fallen Kingdom,1.730804e+08,1.329433e+09,1.156353e+09,2018-06-22
216,Beauty and the Beast,1.668779e+08,1.313329e+09,1.146451e+09,2017-03-17
888,Iron Man 3,2.194886e+08,1.333824e+09,1.114335e+09,2013-05-03
863,Incredibles 2,2.036240e+08,1.265035e+09,1.061411e+09,2018-06-15
2128,Transformers: Dark of the Moon,2.216295e+08,1.277257e+09,1.055628e+09,2011-06-29
1760,The Fate of the Furious,2.607468e+08,1.287929e+09,1.027182e+09,2017-04-14

In [23]:
title_roi = df[['title','adj_prod_budg',  'adj_ww_net', 'adj_ww_roi', 'date']]
unique_titles = title_roi.groupby('title').first().reset_index()
top20_roi_films = unique_titles.sort_values(by='adj_ww_roi', ascending=False).head(20)
top20_roi_films

,title,adj_prod_budg,adj_ww_net,adj_ww_roi,date
1781,The Gallows,1.078644e+05,4.482465e+07,415.564740,2015-07-10
195,Bambi,1.345728e+07,4.189983e+09,311.354312,1942-08-13
1398,Rocky,4.493093e+06,1.006453e+09,224.000000,1976-11-21
1518,Snow White and the Seven Dwarfs,2.641789e+07,3.256741e+09,123.277880,1937-12-21
1732,The Devil Inside,1.113518e+06,1.121975e+08,100.759490,2012-01-06
724,Graduation Day,7.031271e+05,6.649895e+07,94.576000,1981-05-01
875,Insidious,1.704842e+06,1.118046e+08,65.580591,2011-04-01
2167,Unfriended,1.078644e+06,6.834742e+07,63.364198,2015-04-17
231,Benji,2.592870e+06,1.610668e+08,62.119120,1974-11-15
1247,Paranormal Activity 2,3.517312e+06,2.046044e+08,58.170677,2010-10-20
1546,Split,5.214936e+06,2.857418e+08,54.792961,2017-01-20
687,Get Out,5.214936e+06,2.611305e+08,50.073590,2017-02-24
1133,Moonlight,1.597810e+06,6.790213e+07,42.497008,2016-10-21
363,Chernobyl Diaries,1.113518e+06,4.611269e+07,41.411721,2012-05-25
1248,Paranormal Activity 3,5.682807e+06,2.296307e+08,40.407969,2011-10-21
140,Annabelle,7.019509e+06,2.703730e+08,38.517372,2014-10-03
1872,The Last Exorcism,2.110387e+06,8.015474e+07,37.981056,2010-08-27
600,Fantasia,4.163557e+07,1.479889e+09,35.543860,1940-11-13
430,Cube,3.921120e+05,1.367540e+07,34.876260,1998-09-11
1600,Swingers,3.258853e+05,1.045860e+07,32.092890,1996-10-18

##  Top Creative Talent

In [32]:
df[df['tconst'] == 'tt0120338']

Empty DataFrame
Columns: [nconst, primary_name, tconst, category, genres, date, title, production_budget, domestic_gross, worldwide_gross, year, month, international_gross, adj_prod_budg, adj_dom_gross, adj_ww_gross, adj_i_gross, adj_dom_net, adj_ww_net, adj_i_net, adj_dom_roi, adj_ww_roi, adj_i_roi]
Index: []

[0 rows x 23 columns]

In [33]:
df.category.unique()

array(['producer', 'composer', 'actor', 'cinematographer', 'director',
       'writer', 'actress', 'editor', 'production_designer', 'self',
       'archive_footage', 'archive_sound'], dtype=object)

## Top 20 Actors By Adjusted Gross

In [39]:
df = df[df.title != 'Titanic']
df = df[df.title != 'Cinderella']
df = df[df.title != 'Snow White and the Seven Dwarfs']
df = df[df.title != 'Beauty and the Beast']
# df=df[~df['title'].isin(['Titanic', 'Cinderella', 'Snow White and the Seven Dwarfs'])]

In [40]:
actor_df = df[df['category'].str.contains('actor')]

In [64]:
top100_grossing_actors = actor_df.groupby(['primary_name']).adj_ww_gross.sum().sort_values(ascending=False).head(100) 
top100_actors = pd.DataFrame(top100_grossing_actors)
top100_actors

                     adj_ww_gross
primary_name
Robert Downey Jr.    1.049882e+10
Dwayne Johnson       8.735245e+09
Chris Evans          7.979593e+09
Chris Hemsworth      6.594242e+09
Mark Ruffalo         5.775902e+09
...                           ...
Morgan Freeman       1.794945e+09
Irrfan Khan          1.782363e+09
Marwan Kenzari       1.763729e+09
Neil Patrick Harris  1.763620e+09
Robert De Niro       1.749686e+09

[100 rows x 1 columns]

In [ ]:
# names = list(top50_actors.index)
# for name in names:
#     print(title_checker(actor_df, name))

In [62]:
def title_checker(DF, name):
    return pd.DataFrame(DF[DF['primary_name'] == name][['primary_name', 'nconst', 'title', 'tconst','year']])

In [45]:
names = list(top50_actors.index)
frames = []
for name in names:
    frames.append(title_checker(actor_df, name))
result = pd.concat(frames)
result

,primary_name,nconst,title,tconst,year
10572,Robert Downey Jr.,nm0000375,The Avengers,tt0848228,2012
10573,Robert Downey Jr.,nm0000375,The Avengers,tt0848228,1998
10574,Robert Downey Jr.,nm0000375,Iron Man 2,tt1228705,2010
10575,Robert Downey Jr.,nm0000375,Due Date,tt1231583,2010
10576,Robert Downey Jr.,nm0000375,Iron Man 3,tt1300854,2013
...,...,...,...,...,...
14111,Ben Affleck,nm0000255,The Accountant,tt2140479,2016
14112,Ben Affleck,nm0000255,Gone Girl,tt2267998,2014
14113,Ben Affleck,nm0000255,Live by Night,tt2361317,2016
14114,Ben Affleck,nm0000255,Runner Runner,tt2364841,2013
14115,Ben Affleck,nm0000255,Batman v Superman: Dawn of Justice,tt2975590,2016

In [59]:
dupes = result.duplicated(subset='title') 
result[bool_series]

,primary_name,nconst,title,tconst,year
10573,Robert Downey Jr.,nm0000375,The Avengers,tt0848228,1998
11641,Dwayne Johnson,nm0425005,Snitch,tt0882977,2012
11643,Dwayne Johnson,nm0425005,Hercules,tt1267297,2014
9519,Chris Evans,nm0262635,The Avengers,tt0848228,2012
9520,Chris Evans,nm0262635,The Avengers,tt0848228,1998
...,...,...,...,...,...
3334,Adam Sandler,nm0001191,Hotel Transylvania 2,tt2510894,2015
3336,Adam Sandler,nm0001191,Hotel Transylvania 3: Summer Vacation,tt5220122,2018
14108,Ben Affleck,nm0000255,The Town,tt0840361,2010
14110,Ben Affleck,nm0000255,Argo,tt1024648,2012
14115,Ben Affleck,nm0000255,Batman v Superman: Dawn of Justice,tt2975590,2016

In [65]:
names = list(top100_actors.index)
for name in names:
    print(title_checker(actor_df, name))

            primary_name     nconst                               title  \
10572  Robert Downey Jr.  nm0000375                        The Avengers
10573  Robert Downey Jr.  nm0000375                        The Avengers
10574  Robert Downey Jr.  nm0000375                          Iron Man 2
10575  Robert Downey Jr.  nm0000375                            Due Date
10576  Robert Downey Jr.  nm0000375                          Iron Man 3
10577  Robert Downey Jr.  nm0000375  Sherlock Holmes: A Game of Shadows
10578  Robert Downey Jr.  nm0000375                           The Judge
10579  Robert Downey Jr.  nm0000375              Spider-Man: Homecoming
10580  Robert Downey Jr.  nm0000375             Avengers: Age of Ultron
10581  Robert Downey Jr.  nm0000375          Captain America: Civil War
10582  Robert Downey Jr.  nm0000375              Avengers: Infinity War

          tconst  year
10572  tt0848228  2012
10573  tt0848228  1998
10574  tt1228705  2010
10575  tt1231583  2010
10576  tt1300854  2013
10577  tt1515091  2011
10578  tt1872194  2014
10579  tt2250912  2017
10580  tt2395427  2015
10581  tt3498820  2016
10582  tt4154756  2018
         primary_name     nconst                             title     tconst  \
11639  Dwayne Johnson  nm0425005                       Tooth Fairy  tt0808510
11640  Dwayne Johnson  nm0425005                            Snitch  tt0882977
11641  Dwayne Johnson  nm0425005                            Snitch  tt0882977
11642  Dwayne Johnson  nm0425005                          Hercules  tt1267297
11643  Dwayne Johnson  nm0425005                          Hercules  tt1267297
11644  Dwayne Johnson  nm0425005  Journey 2: The Mysterious Island  tt1397514
11645  Dwayne Johnson  nm0425005                            Faster  tt1433108
11646  Dwayne Johnson  nm0425005                          Baywatch  tt1469304
11647  Dwayne Johnson  nm0425005              Central Intelligence  tt1489889
11648  Dwayne Johnson  nm0425005             G.I. Joe: Retaliation  tt1583421
11649  Dwayne Johnson  nm0425005                         Fast Five  tt1596343
11650  Dwayne Johnson  nm0425005                       Pain & Gain  tt1980209
11651  Dwayne Johnson  nm0425005                       San Andreas  tt2126355
11652  Dwayne Johnson  nm0425005                           Rampage  tt2231461
11653  Dwayne Johnson  nm0425005    Jumanji: Welcome to the Jungle  tt2283362
11654  Dwayne Johnson  nm0425005                         Furious 7  tt2820852
11655  Dwayne Johnson  nm0425005                             Moana  tt3521164
11656  Dwayne Johnson  nm0425005           The Fate of the Furious  tt4630562
11657  Dwayne Johnson  nm0425005                        Skyscraper  tt5758778

       year
11639  2010
11640  2013
11641  2012
11642  1997
11643  2014
11644  2012
11645  2010
11646  2017
11647  2016
11648  2013
11649  2011
11650  2013
11651  2015
11652  2018
11653  2017
11654  2015
11655  2016
11656  2017
11657  2018
     primary_name     nconst                                title     tconst  \
9515  Chris Evans  nm0262635                         Before We Go  tt0443465
9516  Chris Evans  nm0262635   Captain America: The First Avenger  tt0458339
9517  Chris Evans  nm0262635                           The Losers  tt0480255
9518  Chris Evans  nm0262635                  What's Your Number?  tt0770703
9519  Chris Evans  nm0262635                         The Avengers  tt0848228
9520  Chris Evans  nm0262635                         The Avengers  tt0848228
9521  Chris Evans  nm0262635                           The Iceman  tt1491044
9522  Chris Evans  nm0262635                          Snowpiercer  tt1706620
9523  Chris Evans  nm0262635  Captain America: The Winter Soldier  tt1843866
9524  Chris Evans  nm0262635              Avengers: Age of Ultron  tt2395427
9525  Chris Evans  nm0262635           Captain America: Civil War  tt3498820
9526  Chris Evans  nm0262635               Avengers: Infinity War  tt4154756
9527  Chris Evans  nm0262635                               Gifted  tt4481414

      year
9515  2015
9516  2011
9517  2010
9518  2011
9519  2012
9520  1998
9521  2013
9522  2014
9523  2014
9524  2015
9525  2016
9526  2018
9527  2017
         primary_name     nconst                        title     tconst  year
6041  Chris Hemsworth  nm1165110                         Thor  tt0800369  2011
6042  Chris Hemsworth  nm1165110                         Ca$h  tt1106860  2008
6043  Chris Hemsworth  nm1165110                         Ca$h  tt1106860  2010
6044  Chris Hemsworth  nm1165110                     Red Dawn  tt1234719  2012
6045  Chris Hemsworth  nm1165110       The Cabin in the Woods  tt1259521  2012
6046  Chris Hemsworth  nm1165110      In the Heart of the Sea  tt1390411  2015
6047  Chris Hemsworth  nm1165110                    12 Strong  tt1413492  2018
6048  Chris Hemsworth  nm1165110  Snow White and the Huntsman  tt1735898  2012
6049  Chris Hemsworth  nm1165110                         Rush  tt1979320  2013
6050  Chris Hemsworth  nm1165110         Thor: The Dark World  tt1981115  2013
6051  Chris Hemsworth  nm1165110  Men in Black: International  tt2283336  2019
6052  Chris Hemsworth  nm1165110      Avengers: Age of Ultron  tt2395427  2015
6053  Chris Hemsworth  nm1165110                     Blackhat  tt2717822  2015
6054  Chris Hemsworth  nm1165110               Thor: Ragnarok  tt3501632  2017
6055  Chris Hemsworth  nm1165110       Avengers: Infinity War  tt4154756  2018
      primary_name     nconst                    title     tconst  year
5082  Mark Ruffalo  nm0749263                 Margaret  tt0466893  2011
5083  Mark Ruffalo  nm0749263   The Kids Are All Right  tt0842926  2010
5084  Mark Ruffalo  nm0749263           Shutter Island  tt1130884  2010
5085  Mark Ruffalo  nm0749263           Now You See Me  tt1670345  2013
5086  Mark Ruffalo  nm0749263                Spotlight  tt1895587  2015
5087  Mark Ruffalo  nm0749263              Begin Again  tt1980929  2014
5088  Mark Ruffalo  nm0749263  Avengers: Age of Ultron  tt2395427  2015
5089  Mark Ruffalo  nm0749263         Now You See Me 2  tt3110958  2016
5090  Mark Ruffalo  nm0749263           Thor: Ragnarok  tt3501632  2017
5091  Mark Ruffalo  nm0749263   Avengers: Infinity War  tt4154756  2018
     primary_name     nconst  \
9003  Johnny Depp  nm0000136
9005  Johnny Depp  nm0000136
9006  Johnny Depp  nm0000136
9007  Johnny Depp  nm0000136
9008  Johnny Depp  nm0000136
9009  Johnny Depp  nm0000136
9010  Johnny Depp  nm0000136
9011  Johnny Depp  nm0000136
9012  Johnny Depp  nm0000136
9013  Johnny Depp  nm0000136
9014  Johnny Depp  nm0000136
9015  Johnny Depp  nm0000136
9016  Johnny Depp  nm0000136
9017  Johnny Depp  nm0000136
9018  Johnny Depp  nm0000136
9019  Johnny Depp  nm0000136

                                                 title     tconst  year
9003                                     The Rum Diary  tt0376136  2011
9005                               Alice in Wonderland  tt1014759  2010
9006                               Alice in Wonderland  tt1014759  1951
9007                                      Dark Shadows  tt1077368  2012
9008                                             Rango  tt1192628  2011
9009                                   The Lone Ranger  tt1210819  2013
9010                                       The Tourist  tt1243957  2010
9011       Pirates of the Caribbean: On Stranger Tides  tt1298650  2011
9012                                        Black Mass  tt1355683  2015
9013  Pirates of the Caribbean: Dead Men Tell No Tales  tt1790809  2017
9014                                     Transcendence  tt2209764  2014
9015                                   Sherlock Gnomes  tt2296777  2018
9016                   Alice Through the Looking Glass  tt2567026  2016
9017                                         Mortdecai  tt3045616  2015
9018                                       Yoga Hosers  tt3838992  2016
9019       Fantastic Beasts: The Crimes of Grindelwald  tt4123430  2018
     primary_name     nconst                           title     tconst  year
7101  Chris Pratt  nm0695435                  Jurassic World  tt0369610  2015
7102  Chris Pratt  nm0695435        The Five-Year Engagement  tt1195478  2012
7103  Chris Pratt  nm0695435                      Passengers  tt1355644  2016
7104  Chris Pratt  nm0695435                  The Lego Movie  tt1490017  2014
7105  Chris Pratt  nm0695435                Zero Dark Thirty  tt1790885  2012
7106  Chris Pratt  nm0695435         Guardians of the Galaxy  tt2015381  2014
7107  Chris Pratt  nm0695435                    Delivery Man  tt2387559  2013
7108  Chris Pratt  nm0695435           The Magnificent Seven  tt2404435  2016
7109  Chris Pratt  nm0695435  Jurassic World: Fallen Kingdom  tt4881806  2018
7110  Chris Pratt  nm0695435                         The Kid  tt4975920  2000
     primary_name     nconst                       title     tconst  year
9734   Vin Diesel  nm0004874  xXx: Return of Xander Cage  tt1293847  2017
9735   Vin Diesel  nm0004874                     Riddick  tt1411250  2013
9736   Vin Diesel  nm0004874                   Fast Five  tt1596343  2011
9737   Vin Diesel  nm0004874       The Last Witch Hunter  tt1618442  2015
9738   Vin Diesel  nm0004874     Guardians of the Galaxy  tt2015381  2014
9739   Vin Diesel  nm0004874                   Furious 7  tt2820852  2015
9740   Vin Diesel  nm0004874     The Fate of the Furious  tt4630562  2017
        primary_name     nconst                    title     tconst  year
11290  Jason Statham  nm0005458             The Mechanic  tt0472399  2011
11291  Jason Statham  nm0005458          The Expendables  tt1320253  2010
11292  Jason Statham  nm0005458             Killer Elite  tt1448755  2011
11293  Jason Statham  nm0005458                     Safe  tt1656190  2012
11294  Jason Statham  nm0005458               Redemption  tt1893256  2013
11295  Jason Statham  nm0005458                   Parker  tt1904996  2013
11296  Jason Statham  nm0005458                Wild Card  tt2231253  2015
11297  Jason Statham  nm0005458                Homefront  tt2312718  2013
11298  Jason Statham  nm0005458        The Expendables 3  tt2333784  2014
11299  Jason Statham  nm0005458                Furious 7  tt2820852  2015
11300  Jason Statham  nm0005458   Mechanic: Resurrection  tt3522806  2016
11301  Jason Statham  nm0005458  The Fate of the Furious  tt4630562  2017
11302  Jason Statham  nm0005458                  The Meg  tt4779682  2018
           primary_name     nconst                                title  \
9023  Samuel L. Jackson  nm0000168   Captain America: The First Avenger
9024  Samuel L. Jackson  nm0000168                               Oldboy
9025  Samuel L. Jackson  nm0000168  Captain America: The Winter Soldier
9026  Samuel L. Jackson  nm0000168                                Turbo
9027  Samuel L. Jackson  nm0000168         Kingsman: The Secret Service
9028  Samuel L. Jackson  nm0000168                    The Hateful Eight
9029  Samuel L. Jackson  nm0000168                   Kong: Skull Island
9030  Samuel L. Jackson  nm0000168                       Captain Marvel
9031  Samuel L. Jackson  nm0000168                                Shaft
9032  Samuel L. Jackson  nm0000168                                Shaft
9033  Samuel L. Jackson  nm0000168                  I Am Not Your Negro
9034  Samuel L. Jackson  nm0000168                                Glass

         tconst  year
9023  tt0458339  2011
9024  tt1321511  2005
9025  tt1843866  2014
9026  tt1860353  2013
9027  tt2802144  2015
9028  tt3460252  2015
9029  tt3731562  2017
9030  tt4154664  2019
9031  tt4463894  2000
9032  tt4463894  2019
9033  tt5804038  2017
9034  tt6823368  2019
       primary_name     nconst                            title     tconst  \
2333  Mark Wahlberg  nm0000242                      The Fighter  tt0964517
2334  Mark Wahlberg  nm0000242                    Lone Survivor  tt1091191
2335  Mark Wahlberg  nm0000242                      Broken City  tt1235522
2336  Mark Wahlberg  nm0000242                           2 Guns  tt1272878
2337  Mark Wahlberg  nm0000242                       Date Night  tt1279935
2338  Mark Wahlberg  nm0000242                   The Other Guys  tt1386588
2339  Mark Wahlberg  nm0000242                       Contraband  tt1524137
2340  Mark Wahlberg  nm0000242                              Ted  tt1637725
2342  Mark Wahlberg  nm0000242                Deepwater Horizon  tt1860357
2343  Mark Wahlberg  nm0000242                      Pain & Gain  tt1980209
2344  Mark Wahlberg  nm0000242                      The Gambler  tt2039393
2345  Mark Wahlberg  nm0000242                      The Gambler  tt2039393
2346  Mark Wahlberg  nm0000242  Transformers: Age of Extinction  tt2109248
2347  Mark Wahlberg  nm0000242                            Ted 2  tt2637276
2348  Mark Wahlberg  nm0000242    Transformers: The Last Knight  tt3371366
2349  Mark Wahlberg  nm0000242                          Mile 22  tt4560436
2350  Mark Wahlberg  nm0000242                     Patriots Day  tt4572514
2351  Mark Wahlberg  nm0000242                   Instant Family  tt7401588
2352  Mark Wahlberg  nm0000242                       Wonderland  tt8629748

      year
2333  2010
2334  2013
2335  2013
2336  2013
2337  2010
2338  2010
2339  2012
2340  2012
2342  2016
2343  2013
2344  2014
2345  1999
2346  2014
2347  2015
2348  2017
2349  2018
2350  2016
2351  2018
2352  2003
         primary_name     nconst                                  title  \
18609  Liam Hemsworth  nm2955013                          The Last Song
18610  Liam Hemsworth  nm2955013                       The Hunger Games
18611  Liam Hemsworth  nm2955013                               Paranoia
18612  Liam Hemsworth  nm2955013           Independence Day: Resurgence
18613  Liam Hemsworth  nm2955013                      The Expendables 2
18614  Liam Hemsworth  nm2955013        The Hunger Games: Catching Fire
18615  Liam Hemsworth  nm2955013  The Hunger Games: Mockingjay - Part 1
18616  Liam Hemsworth  nm2955013  The Hunger Games: Mockingjay - Part 2
18617  Liam Hemsworth  nm2955013                         The Dressmaker

          tconst  year
18609  tt1294226  2010
18610  tt1392170  2012
18611  tt1413495  2013
18612  tt1628841  2016
18613  tt1764651  2012
18614  tt1951264  2013
18615  tt1951265  2014
18616  tt1951266  2015
18617  tt2910904  2016
     primary_name     nconst                      title     tconst  year
6206    Tom Hardy  nm0362766                   Child 44  tt1014763  2015
6207    Tom Hardy  nm0362766                    Lawless  tt1212450  2012
6208    Tom Hardy  nm0362766                      Venom  tt1270797  2018
6209    Tom Hardy  nm0362766                      Venom  tt1270797  2005
6210    Tom Hardy  nm0362766                    Warrior  tt1291584  2011
6211    Tom Hardy  nm0362766  Tinker Tailor Soldier Spy  tt1340800  2011
6212    Tom Hardy  nm0362766      The Dark Knight Rises  tt1345836  2012
6213    Tom Hardy  nm0362766         Mad Max: Fury Road  tt1392190  2015
6214    Tom Hardy  nm0362766             This Means War  tt1596350  2012
6215    Tom Hardy  nm0362766                   The Drop  tt1600196  2014
6216    Tom Hardy  nm0362766               The Revenant  tt1663202  2015
6217    Tom Hardy  nm0362766                      Locke  tt2692904  2014
6218    Tom Hardy  nm0362766                     Legend  tt3569230  2015
6219    Tom Hardy  nm0362766                     Legend  tt3569230  1986
6220    Tom Hardy  nm0362766                    Dunkirk  tt5013056  2017
      primary_name     nconst                                      title  \
2439  Ian McKellen  nm0005212          The Hobbit: An Unexpected Journey
2440  Ian McKellen  nm0005212        The Hobbit: The Desolation of Smaug
2441  Ian McKellen  nm0005212                 X-Men: Days of Future Past
2442  Ian McKellen  nm0005212  The Hobbit: The Battle of the Five Armies

         tconst  year
2439  tt0903624  2012
2440  tt1170358  2013
2441  tt1877832  2014
2442  tt2310332  2014
          primary_name     nconst                                  title  \
16667  Josh Hutcherson  nm1242688                                   Epic
16668  Josh Hutcherson  nm1242688                               Red Dawn
16669  Josh Hutcherson  nm1242688                       The Hunger Games
16670  Josh Hutcherson  nm1242688       Journey 2: The Mysterious Island
16671  Josh Hutcherson  nm1242688                              Detention
16672  Josh Hutcherson  nm1242688        The Hunger Games: Catching Fire
16673  Josh Hutcherson  nm1242688  The Hunger Games: Mockingjay - Part 1
16674  Josh Hutcherson  nm1242688  The Hunger Games: Mockingjay - Part 2
16675  Josh Hutcherson  nm1242688                 Escobar: Paradise Lost

          tconst  year
16667  tt0848537  2013
16668  tt1234719  2012
16669  tt1392170  2012
16670  tt1397514  2012
16671  tt1701990  2012
16672  tt1951264  2013
16673  tt1951265  2014
16674  tt1951266  2015
16675  tt2515030  2015
      primary_name     nconst  \
8747  Steve Carell  nm0136797
8748  Steve Carell  nm0136797
8749  Steve Carell  nm0136797
8750  Steve Carell  nm0136797
8751  Steve Carell  nm0136797
8752  Steve Carell  nm0136797
8753  Steve Carell  nm0136797
8754  Steve Carell  nm0136797
8755  Steve Carell  nm0136797
8756  Steve Carell  nm0136797
8757  Steve Carell  nm0136797
8758  Steve Carell  nm0136797
8759  Steve Carell  nm0136797
8760  Steve Carell  nm0136797
8761  Steve Carell  nm0136797
8762  Steve Carell  nm0136797
8763  Steve Carell  nm0136797

                                                  title     tconst  year
8747                                Dinner for Schmucks  tt0427152  2010
8748                    The Incredible Burt Wonderstone  tt0790628  2013
8749                                      Beautiful Boy  tt1226837  2018
8750                  Anchorman 2: The Legend Continues  tt1229340  2013
8751                                         Date Night  tt1279935  2010
8752          Seeking a Friend for the End of the World  tt1307068  2012
8753                                      Despicable Me  tt1323594  2010
8754                                       Hope Springs  tt1535438  2012
8755                                      The Big Short  tt1596363  2015
8756                                           Freeheld  tt1658801  2015
8757                                    Despicable Me 2  tt1690953  2013
8758  Alexander and the Terrible, Horrible, No Good,...  tt1698641  2014
8759                                   The Way Way Back  tt1727388  2013
8760                                  Welcome to Marwen  tt3289724  2018
8761                                    Despicable Me 3  tt3469046  2017
8762                                Battle of the Sexes  tt4622512  2017
8763                                               Vice  tt6266538  2018
     primary_name     nconst              title     tconst  year
9038   Will Smith  nm0000226      Suicide Squad  tt1386697  2016
9039   Will Smith  nm0000226     Men in Black 3  tt1409024  2012
9040   Will Smith  nm0000226        After Earth  tt1815862  2013
9041   Will Smith  nm0000226              Focus  tt2381941  2015
9042   Will Smith  nm0000226         Concussion  tt3322364  2015
9043   Will Smith  nm0000226  Collateral Beauty  tt4682786  2016
9044   Will Smith  nm0000226             Bright  tt5519340  2017
9045   Will Smith  nm0000226            Aladdin  tt6139732  1992
9046   Will Smith  nm0000226            Aladdin  tt6139732  2019
       primary_name     nconst          title     tconst  year
9744  Ryan Reynolds  nm0005351     The Croods  tt0481499  2013
9745  Ryan Reynolds  nm0005351       R.I.P.D.  tt0790736  2013
9746  Ryan Reynolds  nm0005351  Green Lantern  tt1133985  2011
9747  Ryan Reynolds  nm0005351       Deadpool  tt1431045  2016
9748  Ryan Reynolds  nm0005351         Buried  tt1462758  2010
9749  Ryan Reynolds  nm0005351  The Change-Up  tt1488555  2011
9750  Ryan Reynolds  nm0005351     Safe House  tt1599348  2012

      primary_name     nconst                               title     tconst  \
14108  Ben Affleck  nm0000255                            The Town  tt0840361
14109  Ben Affleck  nm0000255                      Justice League  tt0974015
14110  Ben Affleck  nm0000255                                Argo  tt1024648
14111  Ben Affleck  nm0000255                      The Accountant  tt2140479
14112  Ben Affleck  nm0000255                           Gone Girl  tt2267998
14113  Ben Affleck  nm0000255                       Live by Night  tt2361317
14114  Ben Affleck  nm0000255                       Runner Runner  tt2364841
14115  Ben Affleck  nm0000255  Batman v Superman: Dawn of Justice  tt2975590

       year
14108  2010
14109  2017
14110  2012
14111  2016
14112  2014
14113  2016
14114  2013
14115  2016
        primary_name     nconst                     title     tconst  year
14070  Ralph Fiennes  nm0000146             Hail, Caesar!  tt0475290  2016
14071  Ralph Fiennes  nm0000146       Clash of the Titans  tt0800320  1981
14072  Ralph Fiennes  nm0000146       Clash of the Titans  tt0800320  2010
14073  Ralph Fiennes  nm0000146           Holmes & Watson  tt1255919  2018
14074  Ralph Fiennes  nm0000146                Coriolanus  tt1372686  2012
14075  Ralph Fiennes  nm0000146       Wrath of the Titans  tt1646987  2012
14076  Ralph Fiennes  nm0000146  The Grand Budapest Hotel  tt2278388  2014
14077  Ralph Fiennes  nm0000146                   Spectre  tt2379713  2015
14078  Ralph Fiennes  nm0000146     The Lego Batman Movie  tt4116284  2017
14079  Ralph Fiennes  nm0000146  Kubo and the Two Strings  tt4302938  2016
       primary_name     nconst                   title     tconst  year
10618  Ben Kingsley  nm0001426           The Boxtrolls  tt0787474  2014
10619  Ben Kingsley  nm0001426                    Hugo  tt0970179  2011
10620  Ben Kingsley  nm0001426                    Noah  tt1091821  2014
10621  Ben Kingsley  nm0001426          Shutter Island  tt1130884  2010
10622  Ben Kingsley  nm0001426  Exodus: Gods and Kings  tt1528100  2014
10623  Ben Kingsley  nm0001426            The Dictator  tt1645170  2012
10624  Ben Kingsley  nm0001426                 Collide  tt2126235  2017
10625  Ben Kingsley  nm0001426         The Jungle Book  tt3040964  1994
10626  Ben Kingsley  nm0001426         The Jungle Book  tt3040964  2016
      primary_name     nconst                     title     tconst  year
12709   Jamie Foxx  nm0004937           Valentine's Day  tt0817230  2010
12710   Jamie Foxx  nm0004937                  Due Date  tt1231583  2010
12711   Jamie Foxx  nm0004937                     Annie  tt1823664  2014
12712   Jamie Foxx  nm0004937          Django Unchained  tt1853728  2012
12713   Jamie Foxx  nm0004937  The Amazing Spider-Man 2  tt1872181  2014
12714   Jamie Foxx  nm0004937          White House Down  tt2334879  2013
12715   Jamie Foxx  nm0004937                Robin Hood  tt4532826  2018
12716   Jamie Foxx  nm0004937                Robin Hood  tt4532826  2010
            primary_name     nconst                title     tconst  year
11400  Michael B. Jordan  nm0430107       Fantastic Four  tt1502712  2005
11401  Michael B. Jordan  nm0430107       Fantastic Four  tt1502712  2015
11402  Michael B. Jordan  nm0430107            Chronicle  tt1706593  2012
11403  Michael B. Jordan  nm0430107  That Awkward Moment  tt1800246  2014
11404  Michael B. Jordan  nm0430107        Black Panther  tt1825683  2018
11405  Michael B. Jordan  nm0430107    Fruitvale Station  tt2334649  2013
11406  Michael B. Jordan  nm0430107                Creed  tt3076658  2015
11407  Michael B. Jordan  nm0430107             Creed II  tt6343314  2018
              primary_name     nconst                     title     tconst  \
14773  Matthew McConaughey  nm0000190        Dallas Buyers Club  tt0790636
14774  Matthew McConaughey  nm0000190              Interstellar  tt0816692
14775  Matthew McConaughey  nm0000190   The Wolf of Wall Street  tt0993846
14776  Matthew McConaughey  nm0000190       Free State of Jones  tt1124037
14777  Matthew McConaughey  nm0000190        The Lincoln Lawyer  tt1189340
14778  Matthew McConaughey  nm0000190              The Paperboy  tt1496422
14779  Matthew McConaughey  nm0000190            The Dark Tower  tt1648190
14780  Matthew McConaughey  nm0000190                    Bernie  tt1704573
14781  Matthew McConaughey  nm0000190                Killer Joe  tt1726669
14782  Matthew McConaughey  nm0000190                Magic Mike  tt1915581
14783  Matthew McConaughey  nm0000190                       Mud  tt1935179
14784  Matthew McConaughey  nm0000190                      Sing  tt3470600
14785  Matthew McConaughey  nm0000190  Kubo and the Two Strings  tt4302938
14786  Matthew McConaughey  nm0000190            White Boy Rick  tt4537896
14787  Matthew McConaughey  nm0000190                  Serenity  tt6476140
14788  Matthew McConaughey  nm0000190                  Serenity  tt6476140

       year
14773  2013
14774  2014
14775  2013
14776  2016
14777  2011
14778  2012
14779  2017
14780  2012
14781  2012
14782  2012
14783  2013
14784  2016
14785  2016
14786  2018
14787  2005
14788  2019
      primary_name     nconst           title     tconst  year
17477  Paul Walker  nm0908094  Brick Mansions  tt1430612  2014
17478  Paul Walker  nm0908094       Fast Five  tt1596343  2011
17479  Paul Walker  nm0908094       Furious 7  tt2820852  2015
        primary_name     nconst  \
14153  Javier Bardem  nm0000849
14154  Javier Bardem  nm0000849
14155  Javier Bardem  nm0000849
14156  Javier Bardem  nm0000849
14157  Javier Bardem  nm0000849
14158  Javier Bardem  nm0000849
14159  Javier Bardem  nm0000849

                                                  title     tconst  year
14153                                     Eat Pray Love  tt0879870  2010
14154                                           Skyfall  tt1074638  2012
14155                                          Biutiful  tt1164999  2011
14156  Pirates of the Caribbean: Dead Men Tell No Tales  tt1790809  2017
14157                                     The Counselor  tt2193215  2013
14158                                        The Gunman  tt2515034  2015
14159                                             Molly  tt9411866  1999
        primary_name     nconst             title     tconst  year
8606  Ben Mendelsohn  nm0578853          Trespass  tt1674784  2011
8607  Ben Mendelsohn  nm0578853  Ready Player One  tt1677720  2018
8608  Ben Mendelsohn  nm0578853    Captain Marvel  tt4154664  2019
8609  Ben Mendelsohn  nm0578853        Robin Hood  tt4532826  2018
8610  Ben Mendelsohn  nm0578853        Robin Hood  tt4532826  2010
8611  Ben Mendelsohn  nm0578853      Darkest Hour  tt4555426  2017
             primary_name     nconst                     title     tconst  \
14358  Michael Fassbender  nm1055413                 Centurion  tt1020558
14359  Michael Fassbender  nm1055413                 Jonah Hex  tt1075747
14360  Michael Fassbender  nm1055413        X-Men: First Class  tt1270798
14361  Michael Fassbender  nm1055413                Prometheus  tt1446714
14362  Michael Fassbender  nm1055413                   Haywire  tt1506999
14363  Michael Fassbender  nm1055413        A Dangerous Method  tt1571222
14364  Michael Fassbender  nm1055413                     Shame  tt1723811
14365  Michael Fassbender  nm1055413               The Snowman  tt1758810
14366  Michael Fassbender  nm1055413          12 Years a Slave  tt2024544
14367  Michael Fassbender  nm1055413                Steve Jobs  tt2080374
14368  Michael Fassbender  nm1055413             The Counselor  tt2193215
14369  Michael Fassbender  nm1055413           Alien: Covenant  tt2316204
14370  Michael Fassbender  nm1055413  The Light Between Oceans  tt2547584
14371  Michael Fassbender  nm1055413         X-Men: Apocalypse  tt3385516
14372  Michael Fassbender  nm1055413              Dark Phoenix  tt6565702

       year
14358  2010
14359  2010
14360  2011
14361  2012
14362  2012
14363  2011
14364  2011
14365  2017
14366  2013
14367  2015
14368  2013
14369  2017
14370  2016
14371  2016
14372  2019
     primary_name     nconst                  title     tconst  year
3292  Don Cheadle  nm0000332             Iron Man 2  tt1228705  2010
3293  Don Cheadle  nm0000332             Iron Man 3  tt1300854  2013
3294  Don Cheadle  nm0000332              The Guard  tt1540133  2011
3295  Don Cheadle  nm0000332                 Flight  tt1907668  2012
3296  Don Cheadle  nm0000332  Kevin Hart: What Now?  tt4669186  2016
      primary_name     nconst                         title     tconst  year
2667  Willem Dafoe  nm0000353                   John Carter  tt0401729  2012
2668  Willem Dafoe  nm0000353                       Aquaman  tt1477834  2018
2669  Willem Dafoe  nm0000353                The Great Wall  tt2034800  2017
2670  Willem Dafoe  nm0000353                     John Wick  tt2911666  2014
2671  Willem Dafoe  nm0000353  Murder on the Orient Express  tt3402236  2017
2672  Willem Dafoe  nm0000353           The Florida Project  tt5649144  2017
        primary_name     nconst                       title     tconst  year
12493  Gerard Butler  nm0124930    How to Train Your Dragon  tt0892769  2010
12494  Gerard Butler  nm0124930           The Bounty Hunter  tt1038919  2010
12495  Gerard Butler  nm0124930              Den of Thieves  tt1259528  2018
12496  Gerard Butler  nm0124930                  Coriolanus  tt1372686  2012
12497  Gerard Butler  nm0124930           Playing for Keeps  tt1540128  1986
12498  Gerard Butler  nm0124930        Machine Gun Preacher  tt1586752  2011
12499  Gerard Butler  nm0124930           Chasing Mavericks  tt1629757  2012
12500  Gerard Butler  nm0124930  How to Train Your Dragon 2  tt1646971  2014
12501  Gerard Butler  nm0124930                    Geostorm  tt1981128  2017
12502  Gerard Butler  nm0124930          Olympus Has Fallen  tt2302755  2013
12503  Gerard Butler  nm0124930               Gods of Egypt  tt2404233  2016
12504  Gerard Butler  nm0124930           London Has Fallen  tt3300542  2016
      primary_name     nconst                title     tconst  year
13999  Jason Momoa  nm0597388  Conan the Barbarian  tt0816462  1982
14000  Jason Momoa  nm0597388  Conan the Barbarian  tt0816462  2011
14001  Jason Momoa  nm0597388       Justice League  tt0974015  2017
14002  Jason Momoa  nm0597388                 Dune  tt1160419  1984
14003  Jason Momoa  nm0597388   Bullet to the Head  tt1308729  2013
14004  Jason Momoa  nm0597388              Aquaman  tt1477834  2018
     primary_name     nconst                               title     tconst  \
4332  Josh Brolin  nm0000982        Sin City: A Dame to Kill For  tt0458481
4333  Josh Brolin  nm0000982                       Hail, Caesar!  tt0475290
4334  Josh Brolin  nm0000982                           Jonah Hex  tt1075747
4335  Josh Brolin  nm0000982  You Will Meet a Tall Dark Stranger  tt1182350
4336  Josh Brolin  nm0000982                              Oldboy  tt1321511
4337  Josh Brolin  nm0000982                           True Grit  tt1403865
4338  Josh Brolin  nm0000982                      Men in Black 3  tt1409024
4339  Josh Brolin  nm0000982                       Inherent Vice  tt1791528
4340  Josh Brolin  nm0000982                           Labor Day  tt1967545
4341  Josh Brolin  nm0000982                             Sicario  tt3397884
4342  Josh Brolin  nm0000982                      Only the Brave  tt3829920
4343  Josh Brolin  nm0000982         Sicario: Day of the Soldado  tt5052474
4344  Josh Brolin  nm0000982                          Deadpool 2  tt5463162

      year
4332  2014
4333  2016
4334  2010
4335  2010
4336  2005
4337  2010
4338  2012
4339  2014
4340  2014
4341  2015
4342  2017
4343  2018
4344  2018
     primary_name     nconst                               title     tconst  \
3549     Jude Law  nm0000179                            Repo Men  tt1053424
3550     Jude Law  nm0000179  Sherlock Holmes: A Game of Shadows  tt1515091
3551     Jude Law  nm0000179                           Contagion  tt1598778
3552     Jude Law  nm0000179                              Genius  tt1703957
3553     Jude Law  nm0000179                       Anna Karenina  tt1781769
3554     Jude Law  nm0000179    King Arthur: Legend of the Sword  tt1972591
3555     Jude Law  nm0000179                        Side Effects  tt2053463
3556     Jude Law  nm0000179                        Side Effects  tt2053463
3557     Jude Law  nm0000179                       Dom Hemingway  tt2402105
3558     Jude Law  nm0000179                      Captain Marvel  tt4154664
3559     Jude Law  nm0000179                  The Rhythm Section  tt7134096

      year
3549  2010
3550  2011
3551  2011
3552  2016
3553  2012
3554  2017
3555  2005
3556  2013
3557  2014
3558  2019
3559  2019
      primary_name     nconst                           title     tconst  year
5432  Josh Duhamel  nm0241049              Life as We Know It  tt1055292  2010
5433  Josh Duhamel  nm0241049  Transformers: Dark of the Moon  tt1399103  2011
5434  Josh Duhamel  nm0241049                      Safe Haven  tt1702439  2013
5435  Josh Duhamel  nm0241049   Transformers: The Last Knight  tt3371366  2017
5436  Josh Duhamel  nm0241049                      Misconduct  tt3658772  2016
5437  Josh Duhamel  nm0241049                     Love, Simon  tt5164432  2018
     primary_name     nconst  \
6372  Will Arnett  nm0004715
6373  Will Arnett  nm0004715
6374  Will Arnett  nm0004715
6375  Will Arnett  nm0004715
6376  Will Arnett  nm0004715
6377  Will Arnett  nm0004715
6378  Will Arnett  nm0004715

                                                 title     tconst  year
6372                      Teenage Mutant Ninja Turtles  tt1291150  1990
6373                      Teenage Mutant Ninja Turtles  tt1291150  2014
6374                                    The Lego Movie  tt1490017  2014
6375                                       The Nut Job  tt1821658  2014
6376                    The Nut Job 2: Nutty by Nature  tt3486626  2017
6377  Teenage Mutant Ninja Turtles: Out of the Shadows  tt3949660  2016
6378                             The Lego Batman Movie  tt4116284  2017
        primary_name     nconst                            title     tconst  \
14182  Stanley Tucci  nm0001804            Jack the Giant Slayer  tt1351685
14183  Stanley Tucci  nm0001804                 The Hunger Games  tt1392170
14184  Stanley Tucci  nm0001804                      Margin Call  tt1615147
14185  Stanley Tucci  nm0001804  Transformers: Age of Extinction  tt2109248

       year
14182  2013
14183  2012
14184  2011
14185  2014
        primary_name     nconst                   title     tconst  year
4606  Christian Bale  nm0000288             The Fighter  tt0964517  2010
4607  Christian Bale  nm0000288      Out of the Furnace  tt1206543  2013
4608  Christian Bale  nm0000288   The Dark Knight Rises  tt1345836  2012
4609  Christian Bale  nm0000288  Exodus: Gods and Kings  tt1528100  2014
4610  Christian Bale  nm0000288           The Big Short  tt1596363  2015
4611  Christian Bale  nm0000288         American Hustle  tt1800241  2013
4612  Christian Bale  nm0000288             The Promise  tt4776998  2017
4613  Christian Bale  nm0000288                    Vice  tt6266538  2018
        primary_name     nconst                        title     tconst  year
10534  Russell Crowe  nm0000128                   Robin Hood  tt0955308  2018
10535  Russell Crowe  nm0000128                   Robin Hood  tt0955308  2010
10536  Russell Crowe  nm0000128                  Broken City  tt1235522  2013
10537  Russell Crowe  nm0000128  The Man with the Iron Fists  tt1258972  2012
10538  Russell Crowe  nm0000128          The Next Three Days  tt1458175  2010
10539  Russell Crowe  nm0000128                         Noah  tt1959490  2014
10540  Russell Crowe  nm0000128                    The Mummy  tt2345759  1999
10541  Russell Crowe  nm0000128                    The Mummy  tt2345759  2017
10542  Russell Crowe  nm0000128            The Water Diviner  tt3007512  2015
10543  Russell Crowe  nm0000128                The Nice Guys  tt3799694  2016
       primary_name     nconst                   title     tconst  year
7995  Jason Bateman  nm0000867              The Switch  tt0889573  2010
7996  Jason Bateman  nm0000867           The Change-Up  tt1488555  2011
7997  Jason Bateman  nm0000867         Horrible Bosses  tt1499658  2011
7998  Jason Bateman  nm0000867  Office Christmas Party  tt1711525  2016
7999  Jason Bateman  nm0000867          Identity Thief  tt2024432  2013
8000  Jason Bateman  nm0000867               Bad Words  tt2170299  2014
8001  Jason Bateman  nm0000867       Horrible Bosses 2  tt2170439  2014
8002  Jason Bateman  nm0000867              Game Night  tt2704998  2018
8003  Jason Bateman  nm0000867                Zootopia  tt2948356  2016
8004  Jason Bateman  nm0000867                The Gift  tt4178092  2000
8005  Jason Bateman  nm0000867                The Gift  tt4178092  2015
          primary_name     nconst                                     title  \
2325  Antonio Banderas  nm0000104                             Puss in Boots
2326  Antonio Banderas  nm0000104                       Shrek Forever After
2327  Antonio Banderas  nm0000104                                    The 33
2328  Antonio Banderas  nm0000104  The SpongeBob Movie: Sponge Out of Water
2329  Antonio Banderas  nm0000104                         The Expendables 3
2330  Antonio Banderas  nm0000104                                   Gun Shy

         tconst  year
2325  tt0448694  2011
2326  tt0892791  2010
2327  tt2006295  2015
2328  tt2279373  2015
2329  tt2333784  2014
2330  tt3910736  2000
     primary_name     nconst                                    title  \
2982  Ben Stiller  nm0001774          The Secret Life of Walter Mitty
2983  Ben Stiller  nm0001774                              Tower Heist
2984  Ben Stiller  nm0001774                           Little Fockers
2985  Ben Stiller  nm0001774       Madagascar 3: Europe's Most Wanted
2986  Ben Stiller  nm0001774                                The Watch
2987  Ben Stiller  nm0001774                              Zoolander 2
2989  Ben Stiller  nm0001774                        While We're Young
2990  Ben Stiller  nm0001774  Night at the Museum: Secret of the Tomb

         tconst  year
2982  tt0359950  2013
2983  tt0471042  2011
2984  tt0970866  2010
2985  tt1277953  2012
2986  tt1298649  2012
2987  tt1608290  2016
2989  tt1791682  2015
2990  tt2692250  2014
       primary_name     nconst  \
4666  Geoffrey Rush  nm0001691
4667  Geoffrey Rush  nm0001691
4668  Geoffrey Rush  nm0001691
4669  Geoffrey Rush  nm0001691

                                                 title     tconst  year
4666                                    The Book Thief  tt0816442  2013
4667                                 The Warrior's Way  tt1032751  2010
4668       Pirates of the Caribbean: On Stranger Tides  tt1298650  2011
4669  Pirates of the Caribbean: Dead Men Tell No Tales  tt1790809  2017
      primary_name     nconst                                       title  \
6162  Jay Baruchel  nm0059431                      She's Out of My League
6163  Jay Baruchel  nm0059431                    How to Train Your Dragon
6164  Jay Baruchel  nm0059431                   The Sorcerer's Apprentice
6165  Jay Baruchel  nm0059431                  How to Train Your Dragon 2
6166  Jay Baruchel  nm0059431  How to Train Your Dragon: The Hidden World
6167  Jay Baruchel  nm0059431                                    Lovesick

         tconst  year
6162  tt0815236  2010
6163  tt0892769  2010
6164  tt0963966  2010
6165  tt1646971  2014
6166  tt2386490  2019
6167  tt4996022  1983
        primary_name     nconst                    title     tconst  year
21737  Donald Glover  nm2255973  Solo: A Star Wars Story  tt3778644  2018
21738  Donald Glover  nm2255973            The Lion King  tt6105098  1994

In [66]:
reset_idx = top100_actors.reset_index()

In [67]:
name_list = list(reset_idx.primary_name)
name_list

['Robert Downey Jr.',
 'Dwayne Johnson',
 'Chris Evans',
 'Chris Hemsworth',
 'Mark Ruffalo',
 'Johnny Depp',
 'Chris Pratt',
 'Vin Diesel',
 'Jason Statham',
 'Samuel L. Jackson',
 'Mark Wahlberg',
 'Liam Hemsworth',
 'Tom Hardy',
 'Ian McKellen',
 'Josh Hutcherson',
 'Steve Carell',
 'Will Smith',
 'Ryan Reynolds',
 'Michael Keaton',
 'Woody Harrelson',
 'Leonardo DiCaprio',
 'Kevin Hart',
 'Martin Freeman',
 'Liam Neeson',
 'Hugh Jackman',
 'Andy Serkis',
 'Richard Armitage',
 'Bradley Cooper',
 'Jesse Eisenberg',
 'Idris Elba',
 'Channing Tatum',
 'Matt Damon',
 'Chiwetel Ejiofor',
 'Gary Oldman',
 'Daniel Craig',
 'Bryan Cranston',
 'Chris Pine',
 'James McAvoy',
 'Seth Rogen',
 'Owen Wilson',
 'Tom Hiddleston',
 'Jeremy Renner',
 'Kevin James',
 'Jack Black',
 'Christoph Waltz',
 'Tom Hanks',
 'Ken Watanabe',
 'Tom Cruise',
 'Adam Sandler',
 'Ben Affleck',
 'Ralph Fiennes',
 'Ben Kingsley',
 'Jamie Foxx',
 'Michael B. Jordan',
 'Matthew McConaughey',
 'Paul Walker',
 'Javier Bardem',
 'Ben Mendelsohn',
 'Michael Fassbender',
 'Don Cheadle',
 'Willem Dafoe',
 'Gerard Butler',
 'Jason Momoa',
 'Josh Brolin',
 'Jude Law',
 'Josh Duhamel',
 'Will Arnett',
 'Stanley Tucci',
 'Christian Bale',
 'Russell Crowe',
 'Jason Bateman',
 'Antonio Banderas',
 'Ben Stiller',
 'Geoffrey Rush',
 'Jay Baruchel',
 'Donald Glover',
 'Andrew Garfield',
 'Benjamin Bratt',
 'Ian McShane',
 'Anthony Hopkins',
 'Jonah Hill',
 'Benedict Cumberbatch',
 'Donnie Yen',
 'T.J. Miller',
 'Eddie Redmayne',
 'Henry Cavill',
 'James Earl Jones',
 'Josh Gad',
 'Brad Pitt',
 'Ty Simpkins',
 'Zach Galifianakis',
 'John Goodman',
 'Jon Hamm',
 'Patrick Wilson',
 'Joseph Gordon-Levitt',
 'Morgan Freeman',
 'Irrfan Khan',
 'Marwan Kenzari',
 'Neil Patrick Harris',
 'Robert De Niro']

In [ ]:
drop_list = [10573, 11641, 11642, 11642, 9520 ,6042, 9006, 16423, 2345, 6219, 6209, 9045, 9754, 2674]

In [ ]:
cleaned_actors = actor_df.drop(drop_list)

In [ ]:
top20_2_grossing_actors = cleaned_actors.groupby(['primary_name']).adj_ww_gross.sum().sort_values(ascending=False).head(20) 
top20_2_actors = pd.DataFrame(top20_2_grossing_actors)
top20_2_actors

In [ ]:
names2 = list(top20_2_actors.index)
for name in names2:
    print(title_checker(cleaned_actors, name))

In [ ]:
drop_list2 =[12848]

In [ ]:
cleaned_actors2 = cleaned_actors.drop(drop_list2)

In [ ]:
top20_3_grossing_actors = cleaned_actors2.groupby(['primary_name']).adj_ww_gross.sum().sort_values(ascending=False).head(20) 
top20_3_actors = pd.DataFrame(top20_3_grossing_actors)
top20_3_actors

In [ ]:
names3 = list(top20_3_actors.index)
for name in names3:
    print(title_checker(cleaned_actors2, name))

In [ ]:
drop_list3 = [10549]

In [ ]:
cleaned_actors3 = cleaned_actors2.drop(drop_list3)

In [ ]:
top20_4_grossing_actors = cleaned_actors3.groupby(['primary_name']).adj_ww_gross.sum().sort_values(ascending=False).head(20) 
top20_4_actors = pd.DataFrame(top20_4_grossing_actors)
top20_4_actors

In [ ]:
names4 = list(top20_4_actors.index)
for name in names4:
    print(title_checker(cleaned_actors3, name))

In [ ]:
movie_count_m = actor_df.groupby(['primary_name']).title.count()
count_m = pd.DataFrame(movie_count_m)
count_m

In [ ]:
joined_m = top20_4_actors.join(count_m)
joined_m.head()

In [ ]:
joined_m['mean_gross'] = joined_m.adj_ww_gross/joined_m.title
joined_m = joined_m.reset_index()
joined_m = joined_m.rename(columns={'primary_name': 'Actor',\
                                       'title': 'Number of Titles', 'adj_ww_gross': 'Cumulative Gross',\
                                       'mean_gross': 'Mean Gross per Title'})

In [ ]:
top20_cuml_gross_actors =  joined_m.sort_values(by='Cumulative Gross', ascending=False).head(20)
top20_mean_gross_actors = joined_m.sort_values(by='Mean Gross per Title', ascending=False).head(20)
top20_cuml_gross_actors

In [ ]:
list(top20_cuml_gross_actors.Actor)

In [ ]:
fig, ax = plt.subplots(figsize=(10,5))
sns.barplot(x='Actor', y='Cumulative Gross', data=top20_cuml_gross_actors)
ax.tick_params(labelsize=15)
plt.xticks(rotation=45, ha='right')
ax.set_xlabel( "Actor", fontsize=20 )
ax.set_ylabel( "Cumulative Gross in Billions" , fontsize=20 )
ax.set_title("Actors With Top Cumulative Gross", fontsize=20)
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(10,5))
sns.barplot(x='Actor', y='Mean Gross per Title', data=top20_mean_gross_actors)
ax.tick_params(labelsize=15)
plt.xticks(rotation=45, ha='right')
ax.set_xlabel( "Actor", fontsize=20 ) 
ax.set_ylabel( "Mean Gross per Title in Billions" , fontsize=20 )
ax.set_title("Actors With Top Average Gross per Movie", fontsize=20) 
plt.show()

## Top 20 Actresses By Adjusted Gross

In [ ]:
actress_df = df[df['category'].str.contains('actress')]

In [ ]:
top20_grossing_actresses = actress_df.groupby(['primary_name']).adj_ww_gross.sum().sort_values(ascending=False).head(20) 
top20_actresses = pd.DataFrame(top20_grossing_actresses)
top20_actresses

In [ ]:
names = list(top20_actresses.index)

In [ ]:
def title_checker(DF, name):
    return pd.DataFrame(DF[DF['primary_name'] == name][['primary_name', 'nconst', 'title', 'tconst','year']])

In [ ]:
names = list(top20_actresses.index)
for name in names:
    print(title_checker(actress_df, name))

In [ ]:
drop_list = [7461, 7466, 2196, 4893, 4896, 2423, 2431,\
             15716, 15653, 16810, 23679, 11183, 28285, 17618,\
             23903, 19032, 21676, 20100, 28394, 30195]

In [ ]:
cleaned_actresses = actress_df.drop(drop_list)

In [ ]:
top20_2_grossing_actresses = cleaned_actresses.groupby(['primary_name']).adj_ww_gross.sum().sort_values(ascending=False).head(20) 
top20_2_actresses = pd.DataFrame(top20_2_grossing_actresses)
top20_2_actresses

In [ ]:
names2 = list(top20_2_actresses.index)
for name in names2:
    print(title_checker(cleaned_actresses, name))

In [ ]:
drop_list2 = [13082, 30138, 29111, 6719, 27509, 17879, 19965, 22193, 23039, 19181, 25135, 31683, 10173]

In [ ]:
cleaned_actresses2 = cleaned_actresses.drop(drop_list2)

In [ ]:
top20_3_grossing_actresses = cleaned_actresses2.groupby(['primary_name']).adj_ww_gross.sum().sort_values(ascending=False).head(20) 
top20_3_actresses = pd.DataFrame(top20_3_grossing_actresses)
top20_3_actresses

In [ ]:
names3 = list(top20_3_actresses.index)
for name in names3:
    print(title_checker(cleaned_actresses2, name))

In [ ]:
drop_list3 = [2316, 2317, 5733, 5735, 920, 4003]

In [ ]:
cleaned_actresses3 = cleaned_actresses2.drop(drop_list3)

In [ ]:
top20_3_grossing_actresses = cleaned_actresses3.groupby(['primary_name']).adj_ww_gross.sum().sort_values(ascending=False).head(20) 
top20_3_actresses = pd.DataFrame(top20_3_grossing_actresses)
top20_3_actresses

In [ ]:
names4 = list(top20_3_actresses.index)
for name in names4:
    print(title_checker(cleaned_actresses3, name))

In [ ]:
movie_count_f = actress_df.groupby(['primary_name']).title.count()
count_f = pd.DataFrame(movie_count_f)
count_f

In [ ]:
joined_f = top20_3_actresses.join(count_f)
joined_f.head()

In [ ]:
joined_f['mean_gross'] = joined_f.adj_ww_gross/joined_f.title
joined_f = joined_f.reset_index()
joined_f = joined_f.rename(columns={'primary_name': 'Actress',\
                                       'title': 'Number of Titles', 'adj_ww_gross': 'Cumulative Gross',\
                                       'mean_gross': 'Mean Gross per Title'})

In [ ]:
top20_cuml_gross_actresses =  joined_f.sort_values(by='Cumulative Gross', ascending=False).head(20)
top20_mean_gross_actresses = joined_f.sort_values(by='Mean Gross per Title', ascending=False).head(20)
top20_cuml_gross_actresses

In [ ]:
fig, ax = plt.subplots(figsize=(10,5))
sns.barplot(x='Actress', y='Cumulative Gross', data=top20_cuml_gross_actresses)
ax.tick_params(labelsize=15)
plt.xticks(rotation=45, ha='right')
ax.set_xlabel( "Actress", fontsize=20 )
ax.set_ylabel( "Cumulative Gross in Billions" , fontsize=20 )
ax.set_title("Actresses With Top Cumulative Gross", fontsize=20)
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(10,5))
sns.barplot(x='Actress', y='Mean Gross per Title', data=top20_mean_gross_actresses)
ax.tick_params(labelsize=15)
plt.xticks(rotation=45, ha='right')
ax.set_xlabel( "Actress", fontsize=20 ) 
ax.set_ylabel( "Mean Gross per Title in Billions" , fontsize=20 )
ax.set_title("Actresses With Top Average Gross per Movie", fontsize=20) 
plt.show()

## Top Directors by Gross

In [ ]:
director_df = df[df['category'].str.contains('director')]

In [ ]:
top20_grossing_directors = director_df.groupby(['primary_name']).adj_ww_gross.sum().sort_values(ascending=False).head(21)
top20_directors = pd.DataFrame(top20_grossing_directors)
top20_directors

In [ ]:
movie_count_d = director_df.groupby(['primary_name']).title.count()
count_d = pd.DataFrame(movie_count_d)
count_d

In [ ]:
joined_d = top20_directors.join(count_d)
joined_d.head()

In [ ]:
joined_d['mean_gross'] = joined_d.adj_ww_gross/joined_d.title
joined_d = joined_d.reset_index()
joined_d = joined_d.rename(columns={'primary_name': 'Director',\
                                       'title': 'Number of Titles', 'adj_ww_gross': 'Cumulative Gross',\
                                       'mean_gross': 'Mean Gross per Title'})

In [ ]:
top20_cuml_gross_directors =  joined_d.sort_values(by='Cumulative Gross', ascending=False).head(20)
top20_mean_gross_directors = joined_d.sort_values(by='Mean Gross per Title', ascending=False).head(20)
top20_cuml_gross_directors

In [ ]:
fig, ax = plt.subplots(figsize=(10,5))
sns.barplot(x='Director', y='Cumulative Gross', data=top20_cuml_gross_directors)
ax.tick_params(labelsize=15)
plt.xticks(rotation=45, ha='right')
ax.set_xlabel( "Director", fontsize=20 )
ax.set_ylabel( "Cumulative Gross in Billions" , fontsize=20 )
ax.set_title("Directors With Top Cumulative Gross", fontsize=20)
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(10,5))
sns.barplot(x='Director', y='Mean Gross per Title', data=top20_mean_gross_directors)
ax.tick_params(labelsize=15)
plt.xticks(rotation=45, ha='right')
ax.set_xlabel( "Director", fontsize=20 ) 
ax.set_ylabel( "Mean Gross per Title in Billions" , fontsize=20 )
ax.set_title("Directors With Top Average Gross per Movie", fontsize=20) 
plt.show()

In [ ]:
df[df['primary_name'] == 'SÃ©bastien Lifshitz']

In [ ]:
producer_df = df[df['category'].str.contains('producer')]
producer_df.head()

In [ ]:
top_producers_films = producer_df.sort_values(by=['worldwide_gross'], ascending=False).head(20)
top_producers_films[['primary_name', 'movie', 'worldwide_gross', 'release_date']].head()

In [ ]:
top20_grossing_producers = producer_df.groupby(['primary_name']).worldwide_gross.sum().sort_values(ascending=False).head(20)
top20_grossing_producers

In [ ]:
writer_df = df[df['category'].str.contains('writer')]
writer_df.head()

In [ ]:
top_writers_films = writer_df.sort_values(by=['worldwide_gross'], ascending=False).head(20)
top_writers_films[['primary_name', 'movie', 'worldwide_gross', 'release_date']].head()

In [ ]:
top20_grossing_writers = writer_df.groupby(['primary_name']).worldwide_gross.sum().sort_values(ascending=False).head(20)
top20_grossing_writers